.contain{
    background-color: #e5e6f1;
    position: relative;
}

#ImgItem{
    box-shadow: 5px 5px 10px 10px #140f0f
}

#ImgItem:hover{
    cursor: pointer;
}

.slide{
    object-fit: cover;
    position: absolute;
    top:40%;
    margin: auto;
    left: 0;
    padding: 0 20%;
    /* width: 50%; */
    /* height: 40vw; */
}
#bigImgContain{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:calc(20%);
}
#bigImg{
    background-color: rgba(0, 0, 0, 0.5) ;
    height: 35vw;
    width: 50vw;
    scroll-behavior: auto;
    position: relative;
}
#imageSlide{
    object-fit: cover;
    box-shadow: 0px 0px 37px 30px white;
}

.icon:hover{
    transform: scale(2,2);
    transition: all 0.5s;
    color: tomato;
    cursor: pointer;
}